{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
        "@typescript-eslint",
        "react",
        "react-hooks",
        "jsx-a11y"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "react/prop-types": 0,
        "quotes": ["error", "single"],
        "object-curly-spacing": ["error", "always"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "max-len": ["error", { "code": 200, "tabWidth": 4, "ignoreUrls": true }],
        "indent": ["error", "tab", { "SwitchCase": 1 }],
        "semi": "error",
        "eqeqeq": ["error", "always"],
        "curly": "error",
        "brace-style": "error",
        "no-case-declarations": 0,
        "arrow-body-style": 0
    },
    "overrides": [
        {
            "files": ["*.js", "*.jsx"],
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": "off"
            }
        }
    ]
}
