// Light theme
$mainFontColorLightTheme: #333333;
$mainFontWeightLightTheme: 400;
$mainBgColorLightTheme: #FCFCFC;

// Dark theme
$mainFontColorDarkTheme: #B5B5B5;
$mainFontWeightDarkTheme: 350;
$mainBgColorDarkTheme: #333333;